<form [formGroup]="companyInfoForm" (ngSubmit)="onSubmitCompanyInfo()">
  <div>
    <label for="companyName">Şirket Adı</label>
    <input id="companyName" formControlName="companyName" type="text">
  </div>
  <div>
    <label for="companyTitle">Şirket Ünvanı</label>
    <input id="companyTitle" formControlName="companyTitle" type="text">
  </div>
  <div>
    <label for="address">Adres</label>
    <input id="address" formControlName="address" type="text">
  </div>
  <div>
    <label for="phone">Telefon</label>
    <input id="phone" formControlName="phone" type="tel">
  </div>
  <div>
    <label for="nace">NACE</label>
    <input id="nace" formControlName="nace" type="text">
  </div>
  <div>
    <label for="sectorCode">İşkolu Kodu</label>
    <input id="sectorCode" formControlName="sectorCode" type="text">
  </div>
  <div>
    <label for="hazardClass">Tehlike Sınıfı</label>
    <input id="hazardClass" formControlName="hazardClass" type="text">
  </div>
  <div>
    <label for="companyLogo">Şirket Logosu</label>
    <input id="companyLogo" formControlName="companyLogo" type="file">
  </div>
  <div>
    <label for="authorizedPersonName">İş Yeri Yetkilisi Adı Soyadı</label>
    <input id="authorizedPersonName" formControlName="authorizedPersonName" type="text">
  </div>
  <button type="submit">Şirket Bilgisi Ekle</button>
</form>