<header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-indigo-500">
    <!-- Logo / Site Adı -->
    <div>
      <a href="/" class="text-xl font-bold text-gray-800 hover:text-indigo-500">Dakik-App</a>
    </div>
  
    <!-- Menü -->
    <nav class="flex">
      <ul class="flex items-center">
        <li>
          <a href="/" class="py-2 px-3 text-gray-600 hover:text-indigo-500">Giriş</a>
        </li>
        <li>
          <a href="/sirketekle" class="py-2 px-3 text-gray-600 hover:text-indigo-500">Şirketler</a>
        </li>
        <li>
          <a href="/raporekle" class="py-2 px-3 text-gray-600 hover:text-indigo-500">Raporlar</a>
        </li>
        <li>
          <a href="/riskekle" class="py-2 px-3 text-gray-600 hover:text-indigo-500">Riskler</a>
        </li>
      </ul>
    </nav>
  </header>
  