<h1>Şirket Listesi</h1>
<div style="width: 300px; height: 200px; overflow: auto;">
  <div *ngFor="let company of companies" (click)="showCompanyInfo(company)" style="padding: 10px; cursor: pointer;" [ngClass]="{'selected': selectedCompany === company}">
    {{ company.name }}
  </div>
</div>

<div *ngIf="selectedCompany" style="margin-top: 20px;">
  <h2>{{ selectedCompany.name }}</h2>
  <p>Şirket ID: {{ selectedCompany.id }}</p>
  <p>Sektör: {{ selectedCompany.sector }}</p>
  <p>Adres: {{ selectedCompany.address }}</p>
  <p>Telefon: {{ selectedCompany.phone }}</p>
</div>