<form [formGroup]="companyInfoForm" (ngSubmit)="onUpdateCompanyInfo()" class="max-w-md mx-auto shadow-md rounded-md p-6 bg-white space-y-4">
    <div class="mb-4">
      <label for="companyName" class="block font-bold text-gray-700">Şirket Adı</label>
      <input id="companyName" formControlName="companyName" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="companyTitle" class="block font-bold text-gray-700">Şirket Ünvanı</label>
      <input id="companyTitle" formControlName="companyTitle" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="address" class="block font-bold text-gray-700">Adres</label>
      <input id="address" formControlName="address" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="phone" class="block font-bold text-gray-700">Telefon</label>
      <input id="phone" formControlName="phone" type="tel" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="nace" class="block font-bold text-gray-700">NACE</label>
      <input id="nace" formControlName="nace" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="sectorCode" class="block font-bold text-gray-700">İşkolu Kodu</label>
      <input id="sectorCode" formControlName="sectorCode" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="hazardClass" class="block font-bold text-gray-700">Tehlike Sınıfı</label>
      <input id="hazardClass" formControlName="hazardClass" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <div class="mb-4">
      <label for="companyLogo" class="block font-bold text-gray-700">Şirket Logosu</label>
      <input id="companyLogo" formControlName="companyLogo" type="file" class="w-full">
    </div>
    <div class="mb-4">
      <label for="authorizedPersonName" class="block font-bold text-gray-700">İş Yeri Yetkilisi Adı Soyadı</label>
      <input id="authorizedPersonName" formControlName="authorizedPersonName" type="text" class="w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-300 focus:border-indigo-300">
    </div>
    <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Güncelle</button>
  </form>