<div class="container mx-auto" > 

    <button
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 "
    >
    
    <div class="flex flex-col items-center pb-10">
        <img
        class="w-24 h-24 mb-3 rounded-full shadow-lg"
        src=""
        alt="Companies-logo"
        />
        
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            Companies
        </h5>
        
    </div>
</button>

</div>